body {
    background-color: gainsboro;
}
.main-container {
  background-color: rgb(255, 255, 255);
  height: 650px;
  width: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  border-radius: 30px 30px 130px 30px;
}
.content-container {
 
  height: 530px;
  width: 720px;
}
.inputs-container {
  display: flex;
  gap: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-class-day,
.input-class-month,
.input-class-year {
  margin-top: 5px;
  width: 143px;
  height: 71px;
  border-radius: 8px;
  border: 0.1px solid rgb(197, 191, 191);
  padding:0 0 0 15px;
  font-size: 24px;
  font-weight: 900;
  
}
input::-webkit-input-placeholder {
  padding: 10px;
  font-weight: 700;
  font-size: 30px;
  
}
label {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.reqEroor {
  border: solid 1px red;
}

.reqEroorp1 , .reqEroorp2 , .reqEroorp3 {
    color: red;
}
.part2 {
    display: flex;
    
    align-items: center;
}

hr {
    width: 100%;
}
.imgbutton{
    border-radius: 50%!important;
}
.amigos {
    border-radius: 50%!important;
    border: 0;
    width: 100px;
    height: 80px;
    background-color: hsl(259, 100%, 65%);
}
.span-res{
  color: hsl(259, 100%, 65%);
}
.years-ruselt, .months-ruselt, .days-ruselt {
  margin: 0;
  line-height: 85%;
  font-size:120px;
  font-stretch: expanded;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}
